* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --brand-color-light: #60A5FA;
  --brand-color-dark: #c9d0e3;
  --bg-color: #2f0606;
  --stroke-color: #1E293B;
  --text-color-primary: #f1f5f9;
  --text-color-secundary: #CBD5E1;

  --font-family: "Archivo", sans-serif;
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);

}

body {
background-color: black;
  background-image: 
    radial-gradient(at 0% 0%, rgba(21, 46, 114, 0.5) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(31, 58, 125, 0.5) 0px, transparent 50%);
  background-attachment: fixed;  
  font: var(--text);
  color: var(--text-color-primary);
  font: var(--text);
  color: var(--text-color-primary);
}

  h2 {
    font: var(--h1); 
    color: var(--brand-color-light);
    text-align: center;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
  }



