* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #F5F4F0;
}

#page {
  width: 1120px;
  padding: 24px;
  border-radius: 24px;
  margin: 20px auto;
  background-color: #F5F4F0;
}

h1, h2, h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
}

p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: left;
}

#fintro {
padding: 10px;
font-style: italic;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

#destinies {
  margin-top: 64px;
}

main {
  display: flex;
  justify-content: center;
  padding: 24px;
  background-color: #F5F4F0;
}

h3 {
  color: #E1624F;
  margin-bottom: 10px;
  font-size: 16px;
}

#about h1 {
  color: #000;
   margin-bottom: 20px;
   font-size: 36px;
}

img {
  margin: 20px 0 20px 0;
  max-width: 100%;
  display: block;
}

#intro {
  text-align: left;
  padding: 20px;
}

